       /* poppins-600 font-family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


header{
    background-color: #264653;
}
.navbar-light .navbar-nav .nav-link{
    color:white;
}
.button{
    width: 168px;
    height: 44px;
    padding: 10px;
    border-radius: 5px;
    background-color:#e68a00;
    color: white;
}
.top-banner h1{
    font-size: 48px;
    color: white;
}
.top-banner p{
    color: #E0E0E0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.top-banneer img{
    width: 90%;
}

/* feature image section  */
.feature-img p{
    color:#E76F51;
    margin-bottom: 40px;
}
.feature-img img{
    width: 100%;
    padding: 10%;
}
.grey-scale{
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
}