       /* poppins-600 font-family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


header{
    background-color: #264653;
}
.navbar-light .navbar-nav .nav-link{
    color:white;
}
      /* button-common-class */
.button{
    width: 168px;
    height: 44px;
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    background-color:#e68a00;
    color: white;
}

 

      /* top-banner  */
.top-banner h1{
    font-size: 48px;
    color: white;
}
.top-banner p{
    color: #E0E0E0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.top-banneer img{
    width: 90%;
}

/* feature image section  */
.feature-img p{
    color:#E76F51;
    margin-bottom: 40px;
}
.feature-img img{
    width: 100%;
    padding: 10%;
}
.grey-scale{
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
}

/* client section  */

.color-header{
    color: #E76F51;
}
.client-part p{
    font-size: 16px;
    line-height: 26px;
}
.client-part .fa-star{
    width: 22px;
    height: 22px;
    color: sandybrown;
}
.client-part .client-name{
    color: steelblue;
}
.client-part .round-img{
    border-radius: 50%;
}
   /* bottom-banner */

   /* press-release-section */
.press-bg{
    background-color: #f0f0f5;
}

/* company-achievement area  */

.com-stat{
    background-color: #9999ff;
}
.com-stat h4{
    color: white;
}
.stat-number{
    font-size: 50px;
}
